{% extends 'base.html.twig' %}

    {% block title %}
        Timetable
    {% endblock %}

    {% block body %}
        <h3>
            Timetable project by Hania Raj!
        </h3>
    {% endblock %}